<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dereks Movie Reviews</title>
    <link rel="stylesheet" type="text/css" href="/css/styles2.css"/>
</head>
<body>
    <header>
      <div class="header-txt">
        <h1>Derek's Movie Reviews</h1>
      </div>
      <button class="button button1"><a href="/reviews">Movies Reviews Home</a></button>
      <button class="button button1"><a href="/genreList">Movies By Genre</a></button>
    </header>
    <section id='main'>
      <article>
          <div>
            <img th:src="${onereview.imageUrl}"/>
            <p th:text="'Id: ' + ${onereview.id}"></p>
            <span th:each="Tag: ${onereview.tags}"><a>Tag: </a><a th:text="${Tag.name}" th:href="@{/tags(id=${Tag.id})}"></a></span>          
            <p th:text="'Title: ' + ${onereview.movieTitle}"></p>
            <p th:text="'Category: ' + ${onereview.genre.title}"></p>
            <p th:text="'Review: ' + ${onereview.content}"></p>
            <p th:text="'Date: ' + ${onereview.date}"></p>
            <p th:text="'Synopsis: ' + ${onereview.synopsis}"></p>
          </div>
          
    <form method="POST">	 	
		<ul>
    <input type="hidden" name="reviewId" th:value="${onereview.id}" />
			<li th:each="currentTag: ${onereview.tags}">
				<a th:text="${currentTag.name}" th:href="@{/onereview(id=${currentTag.id})}" ></a>
				<button th:formaction="@{/deleteTag}" name="id" th:value="${currentTag.id}">Delete Tag</button>
			</li>
		</ul>
	</form>
	
	<form method="POST">
		<input name="id" type="hidden" th:value="${onereview.id}" />
		<label>Add Tag: <input type="text" name="name" /></label>
		<br/>
		<button th:formaction="@{/addTag}"> Add Tag </button>	
	</form>	
          
      </article> 
        <nav>
          <img src="/images/movie-strip.jpg" alt="Movie Reel Icon" />
        </nav>
        <aside>
          <img src="/images/movie-strip.jpg" alt="Movie Reel Icon" />
        </aside>
    </section>
    <footer>
      <h3>Derek's Movie Reviews</h3>
    </footer>
</body>
</html>